<!DOCTYPE html>
<html>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    </head>
    
    <body class="bg-opacity-10" style="background-image: url(https://preview.redd.it/yn9to3ngv4261.png?width=3840&format=png&auto=webp&s=644c2ffb11f779d05ee76452f0d7aaec1755dbb3);">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
          <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/public/logo.png" style="width: 2rem" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home" style="color: white">Home</a>
                </li>
               {{#isLogin}}
                <li class="nav-item">
                  <a class="nav-link active" href="/add-project" style="color: white">Add Project</a>
                </li>
              {{/isLogin}}
              </ul>
            <div class="d-flex justify-content-end right-side btn rounded" style="border-radius: 7px; background-color: rgb(133, 13, 13);">
              <a href="/contact" style="text-decoration: none; color: white;">Contact Me</a>
            </div>
            </div>
          </div>
         </nav>

         <div class="container-fluid text-black shadow bg-light" id="detail" style="width: 50rem; margin-top: 50px; margin-bottom: 50px; padding: 50px 50px 40px 50px; border-radius: 25px;">
            <div><h2 style="text-align: center; padding-bottom: 60px;">{{detail.title}}</h2>   
            </div>
            
              <div class="card-body d-flex flex-row" style="margin:auto; text-align: justify;">
                  <div class="card-img"><img src="/public/1.webp" style="border-radius: 25px;">
                  </div>
                    <div class="col-6 lh-10" style="margin-left: 40px; margin-top: 10px;">
                        <h5 class="pb-1">Duration</h5>
                        <li style="list-style: none;"><i><img src="/public/calendar.png" alt=""></i>   {{detail.date}}</li>
                        <li style="list-style: none;"><i><img src="/public/clock.png" alt=""></i>   {{detail.duration}}</li>
                        <br><br>
                        <h5 class="pb-1">Technologies</h5>
                        {{#if detail}}
                        <div class="card-content">
                        <i><img src="/{{detail.html}}" alt=""></i>
                        <i><img src="/{{detail.css}}" alt=""></i>
                        <i><img src="/{{detail.javascript}}" alt=""></i>
                        <i><img src="/{{detail.react}}" alt=""></i>
                        </div>
                        {{/if}}
                    </div>

                  </div>

                  <div class="card-body" style="padding-top: 40px; text-align: justify; text-indent: 50px; font-size: large;">
                      <p class="lh-10">{{detail.description}}
                      </p>
                  </div>
           </div>
        
</html>